<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<title>Add Category</title>


	<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
	</script>

	<script>
		function cross(x) {
		x.classList.toggle("change");
		}
	</script>
	<style type="text/css">
		.topnav a:hover{
			text-decoration: underline;
		}
	</style>

</head>

<body>
    <div class="topnav" id="myTopnav">	
    	<a class="active" href="/allproductsstoremanager"><i class="fa fa-fw fa-home"></i>Home</a>
		<a href="/addcategory" >Add Category</a>
		<a href="/allcategories">All Categories</a>
		<a href="/addproduct">Add Product</a>
		<a href="/issueditems">Issued Items</a>
		<!-- <a href="/allproductsstoremanager">All Items</a> --> <!-- TO BE REPLACED BY HOME -->
		<a href="/criticalitems">Critical Items<p id = 'show_critical_count'>( {{ critical_items_count }} )</p></a>
		<a href="/lowitems">Low Items<p id = 'show_low_count'>( {{ low_items_count }} )</p></a>
		<a href="/allpendingrequests">Pending Requests</a>
		<a href="/allrejectedrequests">Rejected Requests</a>
		<a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
			<!-- <i class="fa fa-bars"></i> -->

		<div id="bar-container" class="container" onclick="cross(this)">

			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>

		</a>
		<div class="topnav-right">
			<a href="/logoutsuperuser">Logout</a>
			<a href="/updatepasswordstoremanager">Update</a>
			<!-- <a href="#">Settings</a> -->
		</div>
	</div>

    <div class="wrapper">
        <div class="title">
        	<span>
            Inventory Management
            System <br>
            Add Product<br>
            Category
            </span>
        </div>

        {% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<script>
			swal("{{ message }}", "",'{{alert_type}}' );
		</script>

		{% endfor %}
		{% endif %}
		{% endwith %}
        
        <div class="form">

			<h1>Add New Category</h1>
            
            <form action="/addnewcategory" method="POST">
				<div>
					<input type="text" name="Newcat" placeholder="Category Name" required><br>
				</div>
				<div class="cat-box">
					<p>Category Type:</p>
					<div class="cat-radio-btn">
						<input type="radio" id="Non-Consumable" name="Cattype" value="Non-Consumable">
						<label for="Non-Consumable">Non-Consumable</label>
						<input type="radio" id="Consumable" name="Cattype" value="Consumable">
						<label for="Consumable">Consumable</label><br>
					</div>
				</div>
				<div>
					<input type="digit" name="Lowlevel" placeholder="Set Low Level Quantity" required><br>
				</div>

				<div>
					<input type="digit" name="Crilevel" placeholder="Set Critical Level Quantity" required><br>
				</div>

				<div class="generate-code-btn">
					<div>
						<button type="submit" id = "generate-code-btn" name="Generate Code" >Generate Code</button>
					</div>
					<div>
						<input type="digit" id = "Unique_code" name="Catcode" placeholder="New Category Code" required readonly><br>
					</div>
				</div>
				<div class="add-btn">
					<button>Add</button>
				</div>
				<!-- <div class="pre-account">
					<h4>Already have an Account? <a href="/login">Login Here</a></h4>
				</div> --> 
            </form>
        </div>
    </div>

    <!-- THIS IS A VERY IMPORTANT FUNCTION WHICH GENERATES THE UNIQUE CODE AT THE TIME OF ADDING A NEW PRODUCT CATEGORY ! DO NOT MODIFY ! -->

    <script>

		document.querySelector("#generate-code-btn").addEventListener('click', (event) => {
		event.preventDefault();
		uniqueCode();
		});

		function uniqueCode(){
		  var fourdigitsrandom = Math.floor(1000 + Math.random() * 9000);
		  document.getElementById("Unique_code").value=fourdigitsrandom;
		 } 
	</script>

</body>
</html>


