<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<title>Add products</title>

	<!-- CSS FOR LABEL -->

	<style type="text/css">
		.label {
			margin-top: 120px;
			color: white;
			padding:2px 15px 2px 15px;
			outline: none;
			font-family: 'Poiret One', cursive;
		}

		.other {
			background-color: #696969;
			color: white;
			border-radius: 10px;
		}

		.form h1 {
			margin-bottom: 20px;
		}

	</style>

	<!-- CSS FOR LABEL ENDS -->



	<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
	</script>

	<script>
		function cross(x) {
		x.classList.toggle("change");
		}
	</script>
</head>

<body>
    <div class="topnav" id="myTopnav">	
    	<a class="active" href="/allproductsstoremanager"><i class="fa fa-fw fa-home"></i>Home</a>
		<a href="/addcategory" >Add Category</a>
		<a href="/allcategories">All Categories</a>
		<a href="/addproduct">Add Product</a>
		<a href="/issueditems">Issued Items</a>
		<!-- <a href="/allproductsstoremanager">All Items</a> --> <!-- TO BE REPLACED BY HOME -->
		<a href="/criticalitems">Critical Items<p id = 'show_critical_count'>( {{ critical_items_count }} )</p></a>
		<a href="/lowitems">Low Items<p id = 'show_low_count'>( {{ low_items_count }} )</p></a>
		<a href="/allrequests">All Requests</a>
		<a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
			

		<div class="container" onclick="cross(this)">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>

		</a>
		<div class="topnav-right">
			<a href="/logoutsuperuser">Logout</a>
			<a href="/updatepasswordstoremanager">Update</a>
			<!-- <a href="#">Settings</a> -->
		</div>
	</div>

    <div class="wrapper">
        <div class="title">
        	<!-- <span>
            Inventory Management
            System <br>
            Faculty<br>
            Signup
            </span> -->
            <p>
            Add Products
            To <br>
            Database<br>
            </p>

        </div>

        {% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<script>
			swal("{{ message }}", "",'{{alert_type}}' );
		</script>

		{% endfor %}
		{% endif %}
		{% endwith %}
        
        <div class="form">

			<h1>Enter Product Details</h1>
            
            <form action="/addnewproduct" method="POST">

				<div class="product-options">

					<span class="label other">Select Product Category</span>

					<select name="product_items_id" id="" required>
						{% for key, value in category_items.items() %}
							<option value="{{key}}">{{value}}</option><br>
						{% endfor %}	
					</select>

				</div>

				<div>
					<input type="text" name="Quantity" placeholder="Enter the product Quantity" ><br>
				</div>

				<div class="signup-btn">
					<button>Add product</button>
				</div>
            </form>
        </div>
    </div>
</body>
</html>