<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Adding Bootstrap Links -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Bootstrap Links Ends  -->

	<title>Home</title>

	<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
	</script>

	<script>
		function cross(x) {
		x.classList.toggle("change");
		}
	</script>

</head>

<body>

	<div class="topnav" id="myTopnav">
		  
		<a class="active" href="/allregistrations"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/allfacultymembers">Update Head</a>
        <a href="/allclerks">Update Store Manager</a>
		<a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
		

		<div class="container" onclick="cross(this)">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>

		</a>
		<div class="topnav-right">
			<a href="#">Logout</a>
			<a href="/updatepasswordadmin">Update</a>
			<!-- <a href="#">Settings</a> -->
		</div>
	</div>

	<style>
		#customers {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		#customers td,
		#customers th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		#customers tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		#customers tr:hover {
			background-color: #ddd;
		}

		#customers th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #333;
			color: white;
		}

		h1{
			margin-top: 10px;
			margin-bottom: 10px;
		}

	</style>

	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{ message }}", "",'{{alert_type}}' );
    </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

	<center>
		<h1>These are the records of all the Clerks</h1>
		<div style="overflow-x:auto;">
			<table id="customers">
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Department</th>
					<th>Email</th>
					<th>Phone No.</th>
					<th>Registered On</th> 
					<th>Confirmed On</th>
					<th>Assignment Status</th>
					<th style="text-align: right;">Assign or Revoke Authority</th>
					
				</tr>
				{% if all_clerks %}
				{% for item in all_clerks %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.first_name }}</td>
					<td>{{ item.last_name }}</td>
					<td>{{ item.department }}</td>
					<td>{{ item.email }}</td>
					<td>{{ item.phone }}</td>
					<td>{{ item.registered_on }}</td>
					<td>{{ item.confirmed_on }}</td>
					{% if item.phone == temporary_store_manager_phone %}
						<td>{{ temporary_store_manager_assignment_status }}</td>
					{% else %}
                        <td>Not-Assigned</td>    
                    {% endif %}
					<td style="text-align: right;"><a href="{{ url_for('assigntemporarystoremanager',  clerk_phone_no=item.phone)}}"><button type="button" class="btn btn-secondary">ASSIGN</button></a>

					<a href="{{ url_for('removetemporarystoremanager',  clerk_phone_no=item.phone)}}"><button type="button" class="btn btn-secondary">REVOKE</button></a>	
						
					</td>
				</tr>
				{% endfor %}
				{% else %}
				No results found
				{% endif %}               

			</table>
		</div>

	</center>

</body>

</html>