<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Adding Bootstrap Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Links Ends  -->

    <title>Item Categories</title>

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>

    <script>
        function cross(x) {
        x.classList.toggle("change");
        }
    </script>

    <script type="text/javascript">
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }

        function sendProductCode(product_code) {
        document.querySelector("#receive_product_code").value =  product_code;
        }
    </script>    


</head>

<body>

    <div class="topnav" id="myTopnav">  
        <a class="active" href="/allproductsstoremanager"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/addcategory" >Add Category</a>
        <a href="/allcategories">All Categories</a>
        <a href="/addproduct">Add Product</a>
        <a href="/issueditems">Issued Items</a>
        <!-- <a href="/allproductsstoremanager">All Items</a> --> <!-- TO BE REPLACED BY HOME -->
        <a href="/criticalitems">Critical Items<p id = 'show_critical_count'>( {{ critical_items_count }} )</p></a>
        <a href="/lowitems">Low Items<p id = 'show_low_count'>( {{ low_items_count }} )</p></a>
        <a href="/allrequests">All Requests</a>
        <a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
            <!-- <i class="fa fa-bars"></i> -->

        <div class="container" onclick="cross(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        </a>
        <div class="topnav-right">
            <a href="/logoutsuperuser">Logout</a>
            <a href="/updatepasswordstoremanager">Update</a>
            <!-- <a href="#">Settings</a> -->
        </div>
    </div>

    <style>
        #table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #table td,
        #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #333;
            color: white;
        }

        h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{ message }}", "",'{{alert_type}}' );
    </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <center>
        <h1>These are all the different items available in the Store </h1>
        <div style="overflow-x:auto;">
            <table id="table">
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Category Type</th>
                    <th>Lowlevel Qty.</th>
                    <th>Crritical Level Qty.</th>
                    <th>Category Code</th>
                    <th style="text-align: right;">Update or Delete Category</th>
                    
                </tr>
                {% if all_categories %}
                {% for item in all_categories %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.category_name }}</td>
                    <td>{{ item.category_type }}</td>
                    <td>{{ item.lowlevel_qty }}</td>
                    <td>{{ item.critical_level_qty }}</td>
                    <td>{{ item.category_code }}</td>
                    <td style="text-align: right;"><a href="{{ url_for('updateproductcategoryinfo', product_code=item.category_code)}}"><button id="product-remove-btn" type="button" class="btn btn-secondary">UPDATE</button></a>
                    <button type="button" class="btn btn-secondary" onclick="openForm(); sendProductCode('{{item.category_code|tojson}}');">DELETE</button></td>
                </tr>
                {% endfor %}
                {% else %}
                No results found
                {% endif %}

            </table>
        </div>
    </center>


    <div class="form-popup form" id="myForm" style="border-color: #333">
        <form action="/deleteproductcategory" class="form-container" method="POST">

            <!-- <label for="quantity" style="font-size: 22px;"><b><u>Quantity</u></b></label>
            <input id = "requested_qty" type="text" placeholder="Enter Required Quantity" name="Quantity" required> -->
            <label for="quantity" style="font-size: 25px;"><u>Information</u></label>
            <!-- <label>Information</label> -->
            <label style="font-size: 20px;">Deleting product category will delete the records from both
            <b><i><u>Products</u></i></b> Table and <b><i><u>Category</u></i></b> Table but records in <b><i><u>Requests</u></i></b> table will not be Deleted.
            </label>

            <!-- THIS PRODUCT CODE WILL BE SENT TO DELETE THE RECORDS OF SELECTED PRODUCT -->
            <input id = "receive_product_code" name="product_code" type="hidden" readonly>

            <div class = "signup-btn" style="text-align: left;">
                <button type="submit" class="" style="font-size: 12px;">Ok</button>
                <button type="button" class=""  style="font-size: 12px;" onclick="closeForm()">Close</button>
            </div>
        </form>
    </div>


</body>

</html>