<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Adding Bootstrap Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Links Ends  -->

    <title>Home</title>

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>

    <script>
        function cross(x) {
        x.classList.toggle("change");
        }
    </script>

    <!-- THIS IS THE JAVASCRIPT FOR THE FORM FOR SUBMITTING REQUIRED QUANTITY -->
    <script type="text/javascript">
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }

        function sendProductCodeToSetMaxIssuableQty(product_code) {
        document.querySelector("#receive_product_code_to_set_issuable_qty").value =  product_code;
        }

    </script>
    <!-- jAVASCRIPT FOR FORM ENDS -->
    
</head>

<body>

    <div class="topnav" id="myTopnav">   
        <a class="active" href="/allproductshead"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href = '/allrequestshead'>Requested Items</a>
        <a href = '/issueditemshead'>Issued Items</a>
        <a href = '/criticalitemshead'>Critical Items<p id = 'show_critical_count'>( {{ critical_items_count }} )</p>
        </a>
        <a href = '/lowitemshead'>Low Items<p id = 'show_low_count'>( {{ low_items_count }} )</p></a>
        <a href = '/returneditemshead'>Returned Items</a>
        <a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
            <!-- <i class="fa fa-bars"></i> -->

        <div class="container" onclick="cross(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        </a>
        <div class="topnav-right">
            <a href="/logoutsuperuser">Logout</a>
            <a href="/updatepasswordhead">Update</a>
        </div>
    </div>

    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #333;
            color: white;
        }

        h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{ message }}", "",'{{alert_type}}' );
    </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <center>
        <h1>These are all the items available in the Store </h1>
        <div style="overflow-x:auto;">
            <table id="customers">
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Quantity Available</th>
                    <th>Product Type</th>
                    <th>Lowlevel Qty.</th>
                    <th>Critical Level Qty.</th>
                    <th>Mark Status</th>
                    <th>Max Issuable Qty.</th>
                    <th style="text-align: right;">Mark or Unmark Items</th>
                    <th style="text-align: right;">Set or Remove Max Issuable Qty.</th>
                    
                </tr>
                {% if all_products %}
                {% for item in all_products %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.qty_available }}</td>
                    <td>{{ item.product_type }}</td>
                    <td>{{ item.lowlevel_qty }}</td>
                    <td>{{ item.critical_level_qty }}</td>
                    <td>{{ item.mark_status }}</td>
                    <td>{{ item.max_issuable_qty }}</td>
                    <td style="text-align: right;"><a href="{{ url_for('markitems', product_code=item.product_code)}}"><button id="product-remove-btn" type="button" class="btn btn-secondary">MARK</button></a>
                    <a href="{{ url_for('unmarkitems', product_code=item.product_code)}}"><button id="product-remove-btn" type="button" class="btn btn-secondary">UNMARK</button></a>    
                    </td>
                    <td style="text-align: right;"><button id="product-add-btn" type="button" class="btn btn-secondary" onclick="openForm(); sendProductCodeToSetMaxIssuableQty('{{item.product_code|tojson}}');">SET QUANTITY</button>
                    <a href="{{ url_for('removemaxissuableqty', product_code=item.product_code)}}"><button id="product-remove-btn" type="button" class="btn btn-secondary">REMOVE</button></a>    
                    </td>
                    
                </tr>
                {% endfor %}
                {% else %}
                No results found
                {% endif %}

            </table>
        </div>
    </center>


        <div class="form-popup form" id="myForm">
          <form action="/setmaxissuableqty" class="form-container" method="POST">
            <!-- <h1>Login</h1> -->

            <label for="quantity" style="font-size: 22px;"><b><u>Max. Issuable Qty</u></b></label>
            <input id = "max_issuable_qty" type="text" placeholder="Enter Max Issuable Quantity" name="Quantity" required>

            <!-- COMMENT FOR "Quantity" INPUT FIELD ENDS -->
            <input id = "receive_product_code_to_set_issuable_qty" type="hidden" name="product_code" readonly>

            <div class = "signup-btn" style="text-align: left;">
                <button type="submit" class="" style="font-size: 13px;">Ok</button>
                <button type="button" class=""  style="font-size: 13px;" onclick="closeForm()">Close</button>
            </div>
          </form>
        </div>

        <!-- <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", mufunction);
            function mufunction(){
                alert('{{critical_items_count}}')
                alert('{{low_items_count}}')
            }
        </script> -->

</body>

</html>