<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Adding Bootstrap Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Links Ends  -->

    <title>Requested Items</title>

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>

    <script>
        function cross(x) {
        x.classList.toggle("change");
        }
    </script>

</head>

<body>

    <div class="topnav" id="myTopnav">   
        <a class="active" href="/allproductshead"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href = '/allrequestshead'>Requested Items</a>
        <a href = '/issueditemshead'>Issued Items</a>
        <a href = '/criticalitemshead'>Critical Items<p id = 'show_critical_count'>( {{ critical_items_count }} )</p>
        </a>
        <a href = '/lowitemshead'>Low Items<p id = 'show_low_count'>( {{ low_items_count }} )</p></a>
        <a href = '/returneditemshead'>Returned Items</a>
        <a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
            <!-- <i class="fa fa-bars"></i> -->

        <div class="container" onclick="cross(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        </a>
        <div class="topnav-right">
            <a href="/logoutsuperuser">Logout</a>
            <a href="/updatepasswordhead">Update</a>
            <!-- <a href=""><i class="fa fa-fw fa-bell-on"></i></a> -->
        </div>
    </div>

    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #333;
            color: white;
        }

        h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{ message }}", "",'{{alert_type}}' );
    </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <center>
        <h1>These are the records of all the Requests</h1>
        <div style="overflow-x:auto;">
            <table id="customers">
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Qty. Available</th>
                    <th>Product Type</th>
                    <th>Requested By</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Requested Qty.</th>
                    <th>Max Issuable Qty.</th>
                    <th>Request Date</th>
                    <th>Request Status</th>
                    <th>Reason</th>
                    <th>Mark Status</th>
                    <th>Issue Permission</th>
                    <th style="text-align: right;">Grant or Deny Issue Permission</th>
                    
                </tr>
                {% if all_requests %}
                {% for item in all_requests %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.qty_available }}</td>
                    <td>{{ item.product_type }}</td>
                    <td>{{ item.requested_by }}</td>
                    <td>{{ item.department }}</td>
                    <td>{{ item.designation }}</td>
                    <td>{{ item.requested_qty }}</td>
                    <td>{{ item.max_issuable_qty }}</td>
                    <td>{{ item.request_date }}</td>
                    <td>{{ item.request_status }}</td>
                    <td>{{ item.reason }}</td>
                    <td>{{ item.product_mark_status }}</td>
                    <td>{{ item.permission }}</td>
                    {% if item.product_mark_status  == 'Marked' %}
                        <td style="text-align: right;"><a href="{{ url_for('grantissuepermission', product_request_id=item.id)}}"><button id="product-remove-btn" type="button" class="btn btn-secondary">GRANT</button></a>
                        <a href="{{ url_for('denyissuepermission', product_request_id=item.id)}}"><button id="product-remove-btn" type="button" class="btn btn-secondary">DENY</button></a>
                        </td>
                    {% else %}
                        <td style="text-align: right;">Product Not Marked</td>    
                    {% endif %}    

                </tr>
                {% endfor %}
                {% else %}
                No results found
                {% endif %}

            </table>
        </div>

        <!-- Javascript to show the effect of deleting the table record using "REJECT" button -->
        <!-- THIS JAVASCRIPT IS NOT BEING USED AS OF NOW BUT MAY COME IN USE LATER SOMETIME IN FUTURE -->

        <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $('#customers').on('click', '.delete-btn', function()  {
                $(this).closest('tr').remove();
            });
        </script> -->

        <!-- Javascript Ends -->
    </center>

</body>

</html>