<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Adding Bootstrap Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Links Ends  -->

    <title>Rejected Registrations</title>

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>

    <script>
        function cross(x) {
        x.classList.toggle("change");
        }
    </script>

    <!-- THIS IS THE JAVASCRIPT FOR THE FORM FOR SUBMITTING REQUIRED QUANTITY -->
    <script type="text/javascript">
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }

        function sendPersonPhoneNo(person_phone_no) {
        document.querySelector("#receive_person_phone_no").value =  person_phone_no;
        }
          
    </script>
    <!-- jAVASCRIPT FOR FORM ENDS -->

</head>

<body>

    <div class="topnav" id="myTopnav">
   
        <a class="active" href="/pendingregistrations"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/approvedregistrations">Approved Regs.</a>
        <a href="/rejectedregistrations">Rejected Regs.</a>
        <a href="/allfacultymembers">Update Head</a>
        <a href="/allclerks">Update Store Manager</a>
        <a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
         

        <div class="container" onclick="cross(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        </a>
        <div class="topnav-right">
            <a href="/logoutsuperuser">Logout</a>
            <a href="/updatepasswordadmin">Update</a>
            
        </div>
    </div>

    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #333;
            color: white;
        }

        h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

    </style>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{ message }}", "",'{{alert_type}}' );
    </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <center>
        <h1>These are the records of all the rejected Registrations</h1>
        <div style="overflow-x:auto;">
            <table id="customers">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Email</th>
                    <th>Phone No.</th>
                    <th>Registered On</th>
                    <th>Reg. Status</th>
                    <th>Reason</th>
                    <th>Date</th>
                    <th style="text-align: right;">Approve Registrations</th>
                    
                </tr>
                {% if rejected_registrations %}
                {% for item in rejected_registrations %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.department }}</td>
                    <td>{{ item.designation }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.registered_on }}</td>
                    <td>{{ item.reg_status }}</td>
                    <td>{{ item.reason }}</td>
                    <td>{{ item.confirmed_on }}</td>
                    <td style="text-align: right;"><a href="{{ url_for('acceptrejectedregistration', person_phone_no=item.phone)}}"><button type="button" class="btn btn-secondary">APPROVE</button></a>
                    <!-- <button type="button" class="btn btn-secondary" onclick="openForm(); sendPersonPhoneNo('{{ item.phone }}');">REJECT</button> --></td>
                </tr>
                {% endfor %}
                {% else %}
                No results found
                {% endif %}


            </table>
        </div>

        <!-- Javascript to show the effect of deleting the table record using "REJECT" button -->
        <!-- THIS IS CURRENTLY NOT BEING USED -->

        <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $('#customers').on('click', '.delete-btn', function()  {
                $(this).closest('tr').remove();
            });
        </script> -->

        <!-- Javascript Ends -->
    </center>

<div class="form-popup form" id="myForm">
  <form action="/rejectregistration" class="form-container" method="GET" style="max-width: 300px;">
    
    <input id = "receive_person_phone_no" type="hidden" name="Person_phone_no">

    <label for="Specify Reason" style="font-size: 22px;"><b><u>Specify Reason</u></b></label>

    <div class="cat-box" >
        <!-- <p>Using the same css as for item category radio buttons</p> -->
        <div class="cat-radio-btn" style="display: flex; flex-direction: column; max-width: 300px;">
            <div class="rejection-reasons">
                <input type="radio" id="Unknown Person" name="Reason" value="Unknown Person">
                <label for="Unknown Person">Unknown Person</label>
            </div>
            <div class="rejection-reasons">
                <input type="radio" id="Some Reason" name="Reason" value="Some Reason">
                <label for="Some Reason">Some Reason</label><br>
            </div>
        </div>
    </div>
    

    <div class = "signup-btn" style="text-align: left;">
        <button type="submit" class="" style="font-size: 13px;">Ok</button>
        <button type="button" class=""  style="font-size: 13px;" onclick="closeForm()">Close</button>
    </div>
  </form>
</div>

</body>

</html>