<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<title>Home</title>
</head>

<body>
    <div class="wrapper">
        <div class="title">
        	<span>
            Inventory Management
            System <br>
            Password<br>
            Reset
            </span>
        </div>

        {% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<script>
			swal("{{ message }}", "",'{{alert_type}}' );
		</script>

		{% endfor %}
		{% endif %}
		{% endwith %}

        <div class="form">
			<h1>Reset Password</h1>
            
            <form action="/resetpassword" method="POST">
            	
				<div>
					<input type="text" name="email" placeholder="Enter Your Email Address" required><br>
				</div>
				
				<div class="updatepass-btn">
					<button type="submit">Send Me New Password</button>
				</div>
				

				<div class="new-account">
					<span>Don't have an Account yet? <a href="/signup">Signup Here</a></span>
				</div>

				<div class="pre-account">
					<span>Already have an Account? <a href="/login">Login Here</a></span>
				</div>

            </form>
        </div>
    </div>
</body>
</html>