<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<title>Home</title>

	<!-- <script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
		</script> -->

		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", getSuperUserDesignation);
			function getSuperUserDesignation(){
				var superuserdesignation = localStorage.getItem("superuserdesignation")
				document.querySelector("#designation_here").innerHTML = superuserdesignation
				document.querySelector("#receive_designation").value = superuserdesignation	
			}	
		</script>

		<!-- WE ARE CURRENTLY NOT USING THIS FUNCTION ON THIS PARTICULAR PAGE -->
		<script type="text/javascript">
			function sendSuperUserEmailOrPhone(){
				var superuser_email_or_phone = document.querySelector("#email_or_phone").value
				localStorage.setItem("superuser_email_or_phone", superuser_email_or_phone);
			}
		</script>
</head>

<body>

    <div class="wrapper">
        <div class="title">
        	<span>
            Inventory Management
            System <br>
            <span id = 'designation_here'></span><br>
            Login
            </span>
        </div>

        
        {% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<script>
			swal("{{ message }}", "",'{{alert_type}}' );
		</script>

		{% endfor %}
		{% endif %}
		{% endwith %}

        <div class="form">
			
			<h1>Enter Your Details</h1>
            
            <form action="/newsuperuserlogin" method="POST">
            	
				<div>
					<input id="email_or_phone" type="text" name="EPhone" placeholder="Enter Email or Phone Number" required><br>
				</div>
				
				<div>
					<input type="password" name="Password" placeholder="Enter your password" required><br>
				</div>

				<div>
					 <input id = "receive_designation" type="hidden" name="Designation" readonly>
				</div>

				<div class="login-btn">
					<button type="submit" onclick="sendSuperUserEmailOrPhone()">Login</button>
				</div>

				<!-- USING CSS STYLING OF CLASS new-account--DON'T EDIT! -->
				<div class="new-account">
					<h4>Forgot Password? <a href="/resetpasswordsuperuser">Click Here</a></h4>
				</div>

            </form>
        </div>
    </div>
</body>
</html>