<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Adding Bootstrap Links -->

   <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

    <!-- Bootstrap Links Ends  -->

	<title>Update</title>

	<script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>

    <script>
        function cross(x) {
        x.classList.toggle("change");
        }
    </script>

        <!-- THIS FUNCTION IS NOT BEING USED, BUT CAN BE USED IF WE WANT TO SET USER'S Email ON INPUT 
         FIELD WITH ID receive_email_or_phone_to_update_info INSTEAD OF HIS DESIGNATION -->

		<!-- <script type="text/javascript">
	        document.addEventListener("DOMContentLoaded", getSuperUserEmailOrPhone);
	        function getSuperUserEmailOrPhone(){
	            var superuser_email_or_phone = localStorage.getItem("superuser_email_or_phone")
	            document.querySelector("#receive_email_or_phone_to_update_info").value= superuser_email_or_phone      
	        }   
    	</script> -->

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", getSuperUserDesignation);
            function getSuperUserDesignation(){
                var superuserdesignation = localStorage.getItem("superuserdesignation")
                // document.querySelector("#designation_here").innerHTML = superuserdesignation
                document.querySelector("#receive_email_or_phone_or_designation_to_update_info").value = superuserdesignation; 

                 document.querySelector("#receive_email_or_phone_or_designation_to_update_password").value = superuserdesignation;
            }   
        </script>


    	<style type="text/css">
    		.topnav a:hover{
    			text-decoration: underline;
    		}

            #info-update-heading{
                margin-top: 70px;
            }

            #password-update-heading{
                margin-top: 30px;
            }

            @media screen and (max-width: 600px){
                #password-update-heading{
                    margin-top: 15px;
                }

                #updatepassword-btn{
                    margin-bottom: 30px;
                }

                #info-update-heading{
                    margin-top: 30px;
                }
            }

    	</style>

        <!-- <style type="text/css">
            .updatepass-btn{
                margin-top: 6px;
            }

            .imp-note-label {
                margin-top: 15px;
                color: white;
                padding:2px 4px 2px 4px;
                outline: none;
                font-family: 'Poiret One', cursive;
                background-color: #696969;
                color: white;
                border-radius: 10px;
            }
        </style> -->
</head>

<body>

	<div class="topnav" id="myTopnav">   
        <a class="active" href="/pendingregistrations"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="/approvedregistrations">Approved Regs.</a>
        <a href="/rejectedregistrations">Rejected Regs.</a>
        <a href="/allfacultymembers">Update Head</a>
        <a href="/allclerks">Update Store Manager</a>
        <a href="/authorizationupdaterecords">Update Records</a>
        <a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
            

        <div id="bar-container" class="container" onclick="cross(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        </a>
        <div class="topnav-right">
            <a href="/logoutsuperuser">Logout</a>
            <a href="/updatepasswordadmin">Update</a>
            <!-- <a href=""><i class="fa fa-fw fa-bell-on"></i></a> -->
        </div>
    </div>
    

    <div class="wrapper">
        <div class="title">
        	<span>
            Inventory Management
            System <br>
            Information<br>
            Update
            </span>
        </div>

        {% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<script>
			swal("{{ message }}", "",'{{alert_type}}' );
		</script>

		{% endfor %}
		{% endif %}
		{% endwith %}
        
        <div class="form">
			
			<h1 id = "info-update-heading">Update Information</h1>
            
            <form id="info-update-form" action="/superuserinfoupdate" method="POST">

                 <!-- <div>
                    <label class="imp-note-label">*Note: For Updating the Password, Fill Password Fields Only 
                    </label>
                </div> -->

                <div class="name">
                    <div>
                        <input type="text" name="FirstName" placeholder="First Name" required><br>
                    </div>
                    <div>
                        <input type="text" name="LastName" placeholder="Last Name" required><br>
                    </div>
                </div>

                <div>
                    <input type="email" name="Email" placeholder="Enter your email Address" required><br>
                </div>

                <div>
                    <input type="digit" name="Phone" placeholder="Enter your Phone Number" required><br>
                </div>

                <div>
                    <input type="text" name="current_password" placeholder="Enter Current password" required><br>
                </div>

				<div>
					<input type="text" name="newpassword" placeholder="Enter New password" required><br>
				</div>

				<div>
					<input type="text" name="cnewpassword" placeholder="Confirm New password" required><br>
				</div>

				<div>
					 <input id = "receive_email_or_phone_or_designation_to_update_info"  name="email_Or_Phone_Or_designation" type="hidden" readonly>
				</div>

				<div class="updatepass-btn">
					<button type="submit">Update</button>
				</div>
				
            </form>

            <br>

            <h1 id = "password-update-heading">Update Password</h1>

            <form id="password-update-form" action="/superuserpasswordupdate" method="POST">

                <div>
                    <input type="text" name="current_password" placeholder="Enter Current password" required><br>
                </div>

                <div>
                    <input type="text" name="newpassword" placeholder="Enter New password" required><br>
                </div>

                <div>
                    <input type="text" name="cnewpassword" placeholder="Confirm New password" required><br>
                </div>

                <div>
                     <input id = "receive_email_or_phone_or_designation_to_update_password"  name="email_Or_Phone_Or_designation" type="hidden" readonly>
                </div>

                <div id="updatepassword-btn" class="updatepass-btn">
                    <button type="submit">Update</button>
                </div>

            </form>    

        </div>
    </div>

</body>
</html>