<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'table.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Adding Bootstrap Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Links Ends  -->

    <title>Approved Requests</title>

    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>

    <script>
        function cross(x) {
        x.classList.toggle("change");
        }
    </script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", getEmailOrPhone);
        function getEmailOrPhone(){
            var email_Or_Phone = localStorage.getItem("email_Or_Phone")
            document.querySelector("#receive_email_or_phone").value= email_Or_Phone
            document.querySelector("#user_email_or_phone").value= email_Or_Phone      
        }   
    </script>
    <script type="text/javascript">
        function submitForm(form_action){
            document.getElementById("requesteditems").action = form_action;
            document.getElementById("requesteditems").submit();
        }
    </script>
    <script type="text/javascript">
        function redirectHome(){
            document.getElementById("homeredirectform").submit();
        }
    </script>

</head>

<body>

    <div class="topnav" id="myTopnav">   
        <a class="active" href="#" onclick="redirectHome()"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href = '#' onclick="submitForm('/userrequesteditems')">Requested Items</a>
        <a href = '#' onclick="submitForm('/userissueditems')">Issued Items</a>
        <a href = '#' onclick="submitForm('/userreturneditems')">Returned Items</a>
        <a href = '#' onclick="submitForm('/userrejectedrequests')">Rejected Requests</a>
        <a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
            <!-- <i class="fa fa-bars"></i> -->

        <div class="container" onclick="cross(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        </a>
        <div class="topnav-right">
            <a href="/logoutgeneraluser">Logout</a>
            <a href="/updatepassword">Update</a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        swal("{{ message }}", "",'{{alert_type}}' );
    </script>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <center>
        <h1>These are the records of all the approved Requests</h1>
        <div style="overflow-x:auto;">
            <table id="table">
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Product Type</th>
                    <th>Requested Qty.</th>
                    <th>Request Date</th>
                    <th>Request Status</th>
                    <th>Reason</th>
                    <!-- <th>Product Issued On</th>
                    <th>Returned On</th> -->
                </tr>
                {% if user_approved_requests %}
                {% for item in user_approved_requests %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.product_code }}</td>
                    <td>{{ item.product_type }}</td>
                    <td>{{ item.requested_qty }}</td>
                    <td>{{ item.request_date }}</td>
                    <td>{{ item.request_status }}</td>
                    <td>{{ item.reason }}</td>
                    <!-- <td>{{ item.product_issued_on }}</td>
                    <td>{{ item.returned_on }}</td> -->
                </tr>
                {% endfor %}
                {% else %}
                No results found
                {% endif %}

            </table>
        </div>
    </center>

    <!-- THIS FORM SENDS USER EMAIL OR NUMBER USED TO FETCH THE ITEMS ISSUED TO USER, OR REQUESTED BY USER, OR RETURNED BY USER--IMPORTANT FORM -->
    <form id="requesteditems" method="POST" style="display: none;">       
        <div>
            <input id = "receive_email_or_phone" type="hidden" name="email_Or_Phone" readonly>
        </div>
    </form>

    <!-- THIS FORM IS USED TO SEND USER ID TO BE USED WHEN REDIRECTING TO HOME i.e. ALLPRODUCTSUSER.HTML FROM OTHER PAGES SUCH AS ISSUED ITEMS AND OTHERS -->
    <form action = "/homeredirect" id="homeredirectform" method="POST" style="display: none;">       
        <div>
            <input id = "user_email_or_phone" type = "hidden" name="user_email_or_phone">
        </div>
    </form>

</body>

</html>