<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'register.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'table.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Adding Bootstrap Links -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Bootstrap Links Ends  -->

	<title>Requested Items</title>

	<script>
		function myFunction() {
		  var x = document.getElementById("myTopnav");
		  if (x.className === "topnav") {
			x.className += " responsive";
		  } else {
			x.className = "topnav";
		  }
		}
	</script>

	<script>
		function cross(x) {
		x.classList.toggle("change");
		}
	</script>

	<!-- MAY BE USED IN FUTURE SO NOT DELETING THE BELOW JAVASCRIPT AND ITS RELATED FORMS -->

	<!-- <script type="text/javascript">

		document.addEventListener("DOMContentLoaded", getEmailOrPhone);
		function getEmailOrPhone(){
			var email_Or_Phone = localStorage.getItem("email_Or_Phone")
			document.querySelector("#receive_email_or_phone").value= email_Or_Phone
			document.querySelector("#user_email_or_phone").value= email_Or_Phone      
		}   


		document.addEventListener("DOMContentLoaded", getEmailOrPhonePopupForm);
		function getEmailOrPhonePopupForm(){
			var popup_form_email_Or_Phone = localStorage.getItem("popup_form_email_Or_Phone")
			document.querySelector("#receive_email_or_phone").value= popup_form_email_Or_Phone  
			document.querySelector("#user_email_or_phone").value= popup_form_email_Or_Phone    
		}

	</script> -->
	

	<!-- <script type="text/javascript">
		function submitForm(form_action){
			document.getElementById("requesteditems").action = form_action;
			document.getElementById("requesteditems").submit();
		}
	</script>
	<script type="text/javascript">
		function redirectHome(){
			document.getElementById("homeredirectform").submit();
		}
	</script> -->

	<script type="text/javascript">

		function setProductCode(product_code, callback) {
			document.querySelector("#receive_product_code").value =  product_code;
			callback();
		}

		function submitDeleteRequestForm(){
			document.getElementById("delete_product_request_form").submit();
		}

	</script>

</head>

<body>

	<div class="topnav" id="myTopnav">   
		<a class="active" href="/homeredirect"><i class="fa fa-fw fa-home"></i>Home</a>
		<a href = '/userrequesteditems'>Requested Items</a>
		<a href = '/userissueditems'>Issued Items</a>
		<a href = '/userreturneditems'>Returned Items</a>
		<a href = '/userrejectedrequests'>Rejected Requests</a>
		<a id = 'bar' href="javascript:void(0);" class="icon" onclick="myFunction()">
			<!-- <i class="fa fa-bars"></i> -->

		<div id="bar-container" class="container" onclick="cross(this)">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>

		</a>
		<div class="topnav-right">
			<a href="/logoutgeneraluser">Logout</a>
			<a href="/updatepassword">Update</a>
		</div>
	</div>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<script>
		swal("{{ message }}", "",'{{alert_type}}' );
	</script>

	{% endfor %}
	{% endif %}
	{% endwith %}

	<center>
		<h1>These are the records of all the pending Requests</h1>
		<div style="overflow-x:auto;">
			<table id="table">
				<tr>
					<th>ID</th>
					<th>Product Name</th>
					<th>Product Code</th>
					<th>Product Type</th>
					<th>Requested Qty.</th>
					<th>Request Date</th>
					<th>Request Status</th>
					<th style="text-align: right;">Remove Requests</th>
					
				</tr>
				{% if requested_items %}
				{% for item in requested_items %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.product_name }}</td>
					<td>{{ item.product_code }}</td>
					<td>{{ item.product_type }}</td>
					<td>{{ item.requested_qty }}</td>
					<td>{{ item.request_date }}</td>
					<td>{{ item.request_status }}</td>
					<td style="text-align: right;"><button type="button" class="btn btn-secondary" onclick="setProductCode('{{item.product_code|tojson}}', 
					submitDeleteRequestForm );">REMOVE</button></td>
				</tr>
				{% endfor %}
				{% else %}
				No results found
				{% endif %}

			</table>
		</div>
	</center>


	<!-- THIS FORM SENDS THE DATA TO BE USED FOR DELETING THE REQUEST MADE BY USER AND THEN RENDERS THIS PAGE INSTEAD OF HOME PAGE -->
	<form action="/deletependingrequest" id="delete_product_request_form" method="POST">
		<!-- INPUT FIELDS CONTAINING USER CREDENTIALS -->
		<input type = "hidden" name="first_name"  value="{{ first_name }}">
		<input type = "hidden" name="last_name"  value="{{ last_name }}">
		<input type = "hidden" name="department"  value="{{ department }}">
		<input type = "hidden" name="registered_as"  value="{{ registered_as }}">
		<!-- INPUT FIELD ENDS -->

		<input id = "receive_product_code" type="hidden" name="product_code">
	</form>

	<!-- THE BELOW 2 FORMS ARE NOT BEING USED NOW BECAUSE THESE WERE USED TO SEND USER'S EMAIL OR PHONE TO EXTRACT UNIQUE INFORMATION OF USER BUT NOW WE ARE TAKING THE USER'S EMAIL FROM SESSION VARIABLE -->

	<!-- THIS FORM SENDS USER EMAIL OR NUMBER USED TO FETCH THE ITEMS ISSUED TO USER, OR REQUESTED BY USER, OR RETURNED BY USER--IMPORTANT FORM -->
	<!-- <form id="requesteditems" method="POST" style="display: none;">       
		<div>
			<input id = "receive_email_or_phone" type="hidden" name="email_Or_Phone" readonly>
		</div>
	</form> -->

	<!-- THIS FORM IS USED TO SEND USER ID TO BE USED WHEN REDIRECTING TO HOME i.e. ALLPRODUCTSUSER.HTML FROM OTHER PAGES SUCH AS ISSUED ITEMS AND OTHERS -->
	<!-- <form action = "/homeredirect" id="homeredirectform" method="POST" style="display: none;">       
		<div>
			<input id = "user_email_or_phone" type = "hidden" name="user_email_or_phone">
		</div>
	</form> -->

</body>

</html>